body {
    background-color: powderblue;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 9px;
    background-color: powderblue;
    width: 6%;
}

h1, h3 {
    color: rgb(233, 71, 12);
}